[submodule "NavMeshComponents"]
	path = NavMeshComponents
	url = https://github.com/Unity-Technologies/NavMeshComponents.git
[submodule "Assets/NavMeshComponents"]
	path = Assets/NavMeshComponents
	url = https://github.com/Unity-Technologies/NavMeshComponents.git
